{% extends "base.html" %}
{% load static %}
{% block content %}

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{% static 'img/payam1.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
		      <br>
		  		 
		  
            <h3>{{job}}</h3>
           
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong> 25 Jan 1979</li>
                  <!-- <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> www.payambagheri.com</li> -->
                  <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> {{tel}}</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> {{city}}</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <!-- <li><i class="bi bi-rounded-right"></i> <strong>Age:</strong> 45</li> -->
                  <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Materials and Metallurgical Engineering, Bachelor's Degree</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong> {{email}}</li>
                  <!-- <li><i class="bi bi-rounded-right"></i> <strong>Freelance:</strong> Available</li> -->
                </ul>
              </div>
            </div>
            <p> BI Developer with five years of experience in implementing OLTP Databases and Data 
                warehouses, creating ETL packages with Microsoft SSIS, and writing SQL queries to create Report.
                Visualizing data by DAX and Power BI to help make data-driven decisions. I am looking for a position 
                where I can use my proven SQL skills, improve the company's database and develop software to increase 
                productivity. I have started developing and implementing data solutions and have proven experience in 
                improving process quality.
                In the field of programming languages, I first started by learning Java and developed a warehouse-related 
                program. With Java in Android programming, I developed a second version of my warehouse app for 
                Android. For better work with data, I learned Python. I studied HTML, CSS, JavaScript. I became familiar 
                with SAP and ABAP programming language. 
                I have 14 years of experience, working in industrial environments. During these years, I learned the 
                processes of Production, Warehousing, Sales, Quality Assurance, Purchasing, and Planning. I believe my 
                previous experiences have been helping me in the next chapter of my work as a Software programmer.
                I am interested in new challenges and I enjoy solving problems.  
                <a href="https://www.linkedin.com/in/bagheripayam/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></i></a>

                <a href="https://github.com/payam1979" class="github" target="_blank"><i class="bi bi-github"></i></i></a>

                <a href="https://join.skype.com/invite/syuU6iA12Phq" class="skype" target="_blank"><i class="bi bi-skype"></i></i></a>

                <a href="https://learn.microsoft.com/en-us/users/payambagheri-1444/" class="microsoft" target="_blank"><i class="bi bi-microsoft"></i></i></a></p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    
  </main><!-- End #main -->

  {% endblock %}
