<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Experiences - payam</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Kelly
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">Kelly</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a class="active" href="resume.html">Resume</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>

    </div>

  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Experiences</h2>
        </div>

        <div class="row">
          <div class="col-md-12">
             <h3 class="resume-title">Professional Experience</h3>
			 <br>
            <div class="resume-item">
              <h4>BI Developer and SQL Server Expert</h4>
              
              <p><em>Premium Technical Support (PTS), Dubai, UAE </em></p>
			  <h5>2022 - Present</h5>
              <p>
			  <h5>Key Responsibilities:</h5>
              <ul>
                <li>Redesign databases.</li>
                <li>Design OLTP Data Model and Create SQL Objects, Tables, Procedures, etc.</li>
                <li>Design ETL packages with SSIS and fill Data in the Data warehouse, Customize DWH Tables.</li>
                <li>Create business reports with SQL Query and Power BI.</li>
              </ul>
             
			  <h5>Key achivments:</h5>
              <ul>
                <li>Redesigned databases for better due to making data usable.</li>
                <li>Created more than 10 reports and dashboards using DAX and Power BI.</li>
              </ul>
              </p>
            </div>
<hr>
            <div class="resume-item">
			
              <h4>BI Developer and SQL Server Expert</h4>
              
              <p><em>Soshiance, Tehran, Iran </em></p>
			  <h5>2018 - 2022</h5>
			 <p>This Company established in 2003 with the aim of providing products and services in the field of Information and Communication Technology.</p>

              <p>
			  <h5>Key Responsibilities:</h5>
              <ul>
                <li>Work closely with clients, Analyze customer business requirements, gathering and processing. </li>
                <li>Design OLTP Data Model and Create SQL Objects, Tables, Procedures, etc.</li>
                <li>Design ETL packages with SSIS and fill Data in the Data warehouse, Customize DWH Tables.</li>
                <li>Create business reports with SQL Query and Power BI.</li>
              </ul>
             
			  <h5>Key achivments:</h5>
              <ul>
                <li>Designed 5+ databases for new products (coordinated with the software developer team) due to client’s needs.</li>
                <li>Converted 20+ reports from other systems into SSRS.</li>
				<li>Trained 5+ business users in data modeling in Power BI for creating reports.</li>
				<li>Created 50+ reports using Power BI.</li>
				<li>Redesigned 5+ older dashboards to improve performance and decrease the time of analysis.</li>
              </ul>
              </p>
            </div>
		  
		<hr>  
             <div class="resume-item">
              <h4>Production Line Expert</h4>
              
              <p><em>Poomar, Markazi, Iran </em></p>
			  <h5>2014 - 2018</h5>
			  <p>This company founded in 1972 with the aim of manufacturing stationery and office furniture.</p>
              <p>
			  <h5>Key Responsibilities:</h5>
              <ul>
                <li>Analyzing customer requirements, Design and manage each project individually.</li>
                <li>Device repair and maintenance management.</li>
                <li>Visiting the installation projects. (Office furniture).</li>
                <li>Training of construction and installation personnel.</li>
				<li>Calculate the costs of each project separately and notify the CEO.</li>
              </ul>
             
			  <h5>Key achivments:</h5>
              <ul>
                <li>Reduced production costs by increasing the productivity of labor.</li>
                <li>Reduced production waste by reviewing and redesigning products.</li>
				<li>Reduced product delivery time to the customer with full supervision from design to production and delivery.</li>
              </ul>
              </p>
            </div>
		<hr>	
            <div class="resume-item">
              <h4>Product Manager</h4>
              
              <p><em>FaraNiroo Sazeh, Alborz, Iran</em></p>
			  <h5>2006 - 2014</h5>
              <p>
			  This company was founded in 2005 with the aim of manufacturing various types of anchor bolts, patterns, various bolts and nuts (galvanized and phosphate), tray and ladder of cable and other apparatuses as required by industries.
			  </p>
			  <p>
			  <h5>Key Responsibilities:</h5>
              <ul>
                <li>Analyzing customer requirements, gathering and managing the whole project.</li>
                <li>Find or build new technologies for this category.</li>
                <li>Analysis and review of accounting and warehousing.</li>
                <li>Recruitment and training of personnel.</li>
 				<li>Prepare and submit reports to the board</li>
              </ul>
             
			  <h5>Key achivments:</h5>
              <ul>
                <li>Construction of all structures required for power substations up to 400kw capacity.</li>
                <li>Construction of all required structures for more than 20 electrical substations.(63-230-400).</li>
              </ul>
              </p>
            </div>
			<hr>
			<div class="resume-item">
              <h4>Quality Assurance Manager</h4>
              
              <p><em>Nasoozmehr, Alborz, Iran</em></p>
			   <h5>2004 - 2006</h5>
			   <p>
			   This company established in 1998 with the aim of producing industrial parts from alloy steels. Company 
produces all kinds of low-alloy; high-alloy and non-alloy steel products with the use of experienced and expert 
workers as well as advanced equipment in compliance with international standards and guarantees the 
satisfaction of its customers.

			   </p>
              <p>
			  <h5>Key Responsibilities:</h5>
			 
              <ul>
                <li>Design and creation of quality management system.</li>
                <li>Follow up on quality management system requirements.</li>
                <li>Audit of quality management system.</li>
              </ul>
             
			  <h5>Key achivments:</h5>
              <ul>
                <li> We have succeeded in obtaining the ISO 9000 certification.</li>
             
              </ul>
              </p>
            </div>
			<hr>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Kelly</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>